body {
    margin: 0;
    background-color: #FFFCC9;
}

#title {
    font-family: 'Caveat', cursive;
    font-size: 8rem;
    margin: 20px auto;
    text-align: center;
    display: block;
}

#signUpButton, #logInButton {
    display: block;
}

form {
    display: none;
    margin: 0 auto;
    width: 30%;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-weight: 700;
    font-size: larger;
    background-color: #fff;
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

input[type=text], input[type=email], input[type=password] {
    width: 60%;
    padding: 10px 10px;
    margin: 10px auto;
    display: block;
    outline: none;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
}

input[type=submit] {
    width: 60%;
    padding: 10px 10px;
    margin: 10px auto;
    display: block;
    background-color: #5379B1;
    color: white;
    border: none;
    width: 15%;
    cursor: pointer;
    border-radius: 5px;
}

form input[type=submit] {
    min-width: 40%;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input::placeholder {
    color: black;
    opacity: 0.5;
}

#alreadyRegLink, #notYetRegLink {
    font-size: smaller;
    font-weight: 200;
    text-decoration: underline;
    cursor: pointer;
}

/* responsiveness */
/* large mobile screen */
@media only screen and (max-width: 425px ) {
    #title{
        font-size: 5rem;
    }
}

/* tablet and laptops */
@media only screen and (min-width: 768px ) {
    #title {
        font-size: 8rem;
    }
}