body {
    margin: 0;
    background-color: #FFFCC9;
}

#title {
    font-family: 'Courgette', cursive;
    margin: 20px auto;
    text-align: center;
}

form {
    margin: 0 auto;
    width: 30%;
    text-align: center;
    border: 2px solid red;
    font-family: 'Patrick Hand', cursive;
    font-weight: 700;
    font-size: larger;
    background-color: lightgrey;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
}

input[type=text], input[type=email], input[type=password] {
    width: 60%;
    padding: 10px 10px;
    margin: 10px auto;
    display: block;
    background-color: lightgrey;
    outline: none;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
}

input[type=submit] {
    width: 60%;
    padding: 10px 10px;
    margin: 10px auto;
    display: block;
    background-color: #5379B1;
    color: white;
    border: none;
    width: 15%;
    cursor: pointer;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input::placeholder {
    color: black;
    opacity: 0.5;
}